# ELP Dual Lens Camera
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{idVendor}=="0ac8", ATTRS{idProduct}=="8802", SYMLINK+="elp_right"
SUBSYSTEMS=="usb", KERNEL=="video*", ATTRS{idVendor}=="0ac8", ATTRS{idProduct}=="8801", SYMLINK+="elp_left"
